#footer {
    background-color: cadetblue;
    padding: 0 15px;

    .container,
    .row {
        height: 60px;
    }

    .row {
        align-items: center;
    }
}

.copyright {
    color: #FFF;
    margin: 0;
}

.social-media {
    text-align: right;

    a {
        margin: 0 0 0 10px;
        color: #FFF;
        text-decoration: none;

        i {
            font-size: em(30);
        }
    }
}